In [1]:
import pandas as pd

In [2]:
who = pd.read_csv("https://covid19.who.int/WHO-COVID-19-global-data.csv")
who.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,5,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,5,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,5,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,5,0,0

In [3]:
country_codes = pd.read_csv("https://datahub.io/core/country-codes/r/country-codes.csv")
country_codes.head()

,official_name_ar,official_name_cn,official_name_en,official_name_es,official_name_fr,official_name_ru,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,ISO3166-1-numeric,ISO4217-currency_alphabetic_code,...,Least Developed Countries (LDC),MARC,Region Code,Region Name,Small Island Developing States (SIDS),Sub-region Code,Sub-region Name,TLD,WMO,is_independent
0,NaN,NaN,NaN,NaN,NaN,NaN,TW,TWN,158.0,NaN,...,NaN,ch,NaN,NaN,NaN,NaN,NaN,.tw,NaN,Yes
1,أفغانستان,阿富汗,Afghanistan,Afganistán,Afghanistan,Афганистан,AF,AFG,4.0,AFN,...,x,af,142.0,Asia,NaN,34.0,Southern Asia,.af,AF,Yes
2,ألبانيا,阿尔巴尼亚,Albania,Albania,Albanie,Албания,AL,ALB,8.0,ALL,...,NaN,aa,150.0,Europe,NaN,39.0,Southern Europe,.al,AB,Yes
3,الجزائر,阿尔及利亚,Algeria,Argelia,Algérie,Алжир,DZ,DZA,12.0,DZD,...,NaN,ae,2.0,Africa,NaN,15.0,Northern Africa,.dz,AL,Yes
4,ساموا الأمريكية,美属萨摩亚,American Samoa,Samoa Americana,Samoa américaines,Американское Самоа,AS,ASM,16.0,USD,...,NaN,as,9.0,Oceania,x,61.0,Polynesia,.as,NaN,Territory of US